Binaries
DerivedDataCache
Intermediate
Saved
Platforms
Build
enc_temp_folder
.clang-format
.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/COMMIT_OFF